<div>
    <div [hidden]="titleEdit">
        <h2>
            {{cardData.title}}
            <button mat-icon-button aria-label="edit title button" (click)="toggleEdit()">
                <mat-icon>edit</mat-icon>
            </button>
        </h2>
    </div>
    <div [hidden]="!titleEdit">
        <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput type="text" [(ngModel)]="cardData.title" (focusout)="toggleEdit()" #titleInput>
        </mat-form-field>
    </div>
</div>

<mat-dialog-content class="mat-typography">

    <mat-divider></mat-divider>

    <div *ngFor="let block of cardData.blocks; index as i;">
        <mat-form-field appearance="fill">
            <mat-label>Type du bloc</mat-label>
            <mat-select [(value)]="block.type">
                <mat-option value="1">Texte</mat-option>
                <mat-option value="2">Image</mat-option>
                <mat-option value="3">Barre de progression</mat-option>
            </mat-select>
        </mat-form-field>
        <p>{{block.content}}</p>
    </div>

    <button mat-icon-button aria-label="add block" (click)="addBlock()">
        <mat-label>Ajouter un bloc </mat-label>
        <mat-icon>add</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <h3>tags</h3>
    <mat-form-field appearance="fill">
        <mat-label>Selectionner un tag</mat-label>
        <mat-select [(value)]="selectedTag">
            <mat-option>None</mat-option>
            <mat-option value="TAG1">TAG1</mat-option>
            <mat-option value="TAG2">TAG2</mat-option>
            <mat-option value="TAG3">TAG3</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button aria-label="add block" (click)="addTag()" [disabled]="selectedTag == ''">
        <mat-label>Ajouter un tag </mat-label>
        <mat-icon>add</mat-icon>
    </button>
    <div *ngFor="let tags of cardData.tags">
        <p>{{tags}}</p>
    </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sauvegarder</button>
</mat-dialog-actions>