<mat-drawer-container class="container" autosize>
    
    <mat-drawer class="sidenav" mode="side" opened>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let element of sidenavContent" [value]="element">
                {{element}}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <div class="card-container">
        
        <card class="card"></card>

        <div class="add-card">
            <div class="add-card-content">
                <button mat-button class="add-card-button" aria-label="Ajouter une note" >
                    <mat-icon class="add-icon">add</mat-icon>
                </button>
            </div>
        </div>
    </div>

</mat-drawer-container>